<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="contents row" th:each="tweet: ${tweetList}"
		layout:fragment="content">
		<div class="content_post"
			th:style="'background:url(' + ${tweet.imageUrl} + ');'">
			<div class="more">
				<span><i class="fas fa-ellipsis-v menu-icon"></i>
				</span>
				<ul class="more_list">
					<li><a th:href="@{'/detail/'+${tweet.tweetId}}">詳細</a></li>
					<li th:if="${username != null && userId == tweet.userId}"><a th:href="@{'/edit/'+${tweet.tweetId}}">編集</a></li>
					<li class="delete-list" th:if="${username != null && userId == tweet.userId}">
						<form th:action="@{'/delete/'+${tweet.tweetId}+'/comfirm'}"  method="post">
    						<button class="btn-delete" type="submit" name="delete">削除</button>
    					</form>
					</li>
				</ul>
			</div>
			<p th:text="${tweet.text}"></p>
			<a href="#"> <span class="name"> 投稿者<span
					th:text="${tweet.user.username}"></span>
			</span>
			</a>
		</div>
	</div>
</body>
</html>