<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>PicTweet</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}" />
</head>
<body>
	<div layout:replace="~{layout/header::header}"></div>
	<div class="contents row">
		<form th:action="@{/detail}" th:object="${tweet}" method="post">
			
			<div class="content_post"
				th:style="'background:url(' + ${tweet.imageUrl} + ');'">
				<p th:field="*{text}"></p>
				<a href="#"> 
					<span class="name">
						投稿者<span th:text="${tweet.user.username}"></span>
					</span>
				</a>
			</div>
		</form>
		<div class="container">
			<form>
				<textarea placeholder="コメントする" rows="2"></textarea>
				<input type="submit" value="SEND">
			</form>
			<strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
			<h4>＜コメント一覧＞</h4> 
			<div class="comments" th:each="comment: ${commentList}">
				<p>
					<strong>
						<a href="#"><sapn th:text="${comment.user.username}"></sapn></a>:
					</strong>
					<span th:text="${comment.commentText}"></span>
				</p>
			</div>
		</div>
	</div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>