<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>PicTweet</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.13.0/css/all.min.css}" />
</head>
<body>
	<div layout:replace="~{layout/tweetHeader::tweetHeader}"></div>
	<div class="contents row">
		<div class="content_post"
			th:style="'background:url(' + ${tweet.imageUrl} + ');'">
			<div class="more">
				<span th:if="${userId == tweet.userId}"><i
					class="fas fa-ellipsis-v menu-icon"></i></span>
				<ul class="more_list" th:if="${userId == tweet.userId}">
					<li><a th:href="@{'/edit/'+${tweet.tweetId}}">編集</a></li>
					<li class="delete-list"
						th:if="${username != null && userId == tweet.userId}">
						<form th:action="@{'/delete/'+${tweet.tweetId}+'/comfirm'}"
							method="post">
							<button class="btn-delete" type="submit" name="delete">削除</button>
						</form>
					</li>
				</ul>
			</div>
			<p th:field="*{text}"></p>
			<a href="#"> <span class="name"> 投稿者<span
					th:text="${tweet.user.username}"></span>
			</span>
			</a>
		</div>
		<div class="container">
			<form th:action="@{'/detail/'+${tweet.tweetId}+'/comment'}" th:object="${commentForm}" method="post">
				<div class="field">
					<textarea placeholder="コメントする" rows="2" th:field="*{commentText}" th:errorclass="is-invalid"></textarea>
					<div class="invalid-feedback" th:errors="*{commentText}"></div>
				</div>
				<input type="submit" value="SEND">
			</form>
			<div class="comments" th:each="comment: ${commentList}">
				<h4>＜コメント一覧＞</h4>
				<p>
					<strong>
						<a href="#"><sapn th:text="${comment.user.username}"></sapn></a>:
					</strong>
					<span th:text="${comment.commentText}"></span>
				</p>
			</div>
		</div>
	</div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>