<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>pictweet</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<header class="header">
		<div class="header__bar row">
			<h1 class="grid-6">
				<a th:href="@{/index}">PicTweet</a>
			</h1>
			<div class="user_nav grid-6">
				<span><p class="header-username" th:text="${username}"></p>
					<ul class="user__info">
						<li>
							<a href="#">マイページ</a>
							<form th:action="@{/logout}" method="post">
								<button type="submit" class="logout-btn">ログアウト</button>
							</form>
						</li>
					</ul>
				</span> 
				<a class="post" href="#">投稿する</a>
			</div>
		</div>
	</header>
	<form class="search-form" action="#">
		<input placeholder="投稿を検索する" class="search-input" type="text"
			name="keyword" id="keyword"> <input type="submit"
			name="commit" value="検索" class="search-btn">
	</form>
	<div class="contents row"></div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>