<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>PicTweet</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<div layout:replace="~{layout/tweetHeader::tweetHeader}"></div>
	<div class="contents row">
  		<div class="success">
    		<h3>更新が完了しました。</h3>
    		<a class="btn" th:href="@{/index}">投稿一覧へ戻る</a>
  		</div>
	</div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>