<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<div layout:replace="~{layout/header::header}"></div>
	<div class="contents row">
		<div class="container">
			<h2>Log in</h2>
			<form class="new-user" th:action="@{/login}" method="post">
				<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
				class="text-danger"></p>
				<div class="field">
					<label for="email">Email</label> <br> <input
						autofocus="autofocus" type="email" name="email">
				</div>
				<div class="field">
					<label for="password">Password</label> <br> <input
						type="password" name="password">
				</div>
				<div class="field">
					<label for="remenber-me">Remember me</label> <br> <input
						type="checkbox" name="remember-me">
				</div>
				<div class="actions">
					<input type="submit" name="commit" value="Log in">
				</div>
			</form>
		</div>
	</div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>