<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<div layout:replace="~{layout/header::header}"></div>
	<div class="contents row">
		<div class="container">
			<h2>Sign up</h2>
			<form class="new-user" th:action="@{/signup}" th:object="${user}"
				method="post">
				<div class="field">
					<label for="username" th:text="#{username}"></label> <br> <input
						autofocus="autofocus" type="text" th:field="*{username}"
						th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{username}"></div>
				</div>
				<div class="field">
					<label for="email" th:text="#{email}"></label> <br> <input
						type="email" th:field="*{email}" th:errorclass="is-invalid">
					<div class="invalid-feeback" th:errors="*{email}"></div>
				</div>
				<div class="field">
					<label for="password" th:text="#{password}"></label> <br> <input
						type="password" th:field="*{password}" th:errorclass="is-invalid">
					<div class="invalid-feedback" th:errors="*{password}"></div>
				</div>
				<div class="actions">
					<input type="submit" name="commit" value="Sign up">
				</div>
			</form>
		</div>
	</div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>