<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>pictweet</title>
<link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
	<div layout:replace="~{layout/header::header}"></div>
	<form class="search-form" action="#">
		<input placeholder="投稿を検索する" class="search-input" type="text"
			name="keyword" id="keyword"> <input type="submit"
			name="commit" value="検索" class="search-btn">
	</form>
	<div layout:replace="~{layout/content::content}"></div>
	<div layout:replace="~{layout/footer::footer}"></div>
</body>
</html>